:root {
    --primary-color: #1F2937; /* Dark Blue */
    --secondary-color: #FFC107; /* Gold */
    --background-color: #F5F5F5; /* Light Gray */
    --text-primary: #212121; /* Black */
    --text-secondary: #757575; /* Medium Gray */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-primary);
    background-image: url("/image/pexels-tima-miroshnichenko-7991180.jpg");
    background-size: cover; 
    background-position: center;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
}

.empty-state-search {
    font-size: large;
    font-style: italic;
    color: #757575;
    /* color: red; */
}

.container {
    padding: 2rem;
    /* color: green; */
}

.search-section {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    /* color: #FFC107; */
}

.search-section input[type="text"] {
    padding: 0.5rem;
    width: 300px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    /* color: blue; */
}

.search-section button {
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    color: var(--primary-color);
    cursor: pointer;
    /* color: violet; */
}

.movie-card {
    display: flex;
    background-color: white;
    border: 3px solid #ddd;
    border-radius: 15px;
    padding: 2rem;
    margin-bottom: 1rem;
    /* color: burlywood; */
    border-color:#757575;
    width: fit-content;
    box-shadow:inset;
}

.movie-card img {
    width: 100px;
    height: 150px;
    margin-right: 1rem;
    border-radius: 5px;
    /* color: crimson; */
}

.movie-details {
    display: flex;
    flex-direction: column;
    /* color: darkblue; */
}

.movie-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
    /* color: darkslateblue; */
}

.movie-year, .movie-language {
    color: var(--text-secondary);
    margin-bottom: 0.3rem;
    /* color: darkred9; */
}