:root {
    --primary-color: #1F2937; /* Dark Blue */
    --secondary-color: #FFC107; /* Gold */
    --background-color: #F5F5F5; /* Light Gray */
    --text-primary: #212121; /* Black */
    --text-secondary: #757575; /* Medium Gray */
    --accent-color: #E0A800; /* Accent Gold */
    --card-bg-color: #ffffff; /* White for Cards */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-primary);
    background-image: url("https://i.postimg.cc/7hqLfxWk/pexels-tima-miroshnichenko-7991180.jpg");
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 2rem;
    max-width: 1200px;
    box-sizing: border-box;
}

.search-section {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.search-section input[type="text"] {
    padding: 0.5rem;
    width: 300px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
}

.search-section button {
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.search-section button:hover {
    background-color: var(--accent-color);
}

#searchResultsContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.movie-card {
    display: flex;
    background-color: var(--card-bg-color);
    border: 3px solid #ddd;
    border-radius: 15px;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-color: #757575;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.movie-card img {
    width: 160px;
    height: 150px;
    margin-right: 1rem;
    border-radius: 5px;
}

.movie-details {
    display: flex;
    flex-direction: column;
}

.movie-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    color: var(--primary-color);
}

.movie-year, .movie-language {
    color: var(--text-secondary);
    margin-bottom: 0.3rem;
    font-size: 1rem;
}

.empty-state-search {
    font-size: 1.25rem;
    font-style: italic;
    color: var(--text-secondary);
    text-align: center;
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .search-section input[type="text"] {
        width: 100%;
        max-width: 300px;
    }

    .movie-card {
        flex-direction: column;
        align-items: center;
    }

    .movie-card img {
        width: 120px;
        height: 120px;
        margin-bottom: 1rem;
    }
}

.movie-details p {
    font-size: 1rem;
    color: red;
    text-decoration: underline;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: color 0.3s;
}

.movie-details p:hover {
    color:darkred;
}
