.details-page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 5rem;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color:rgba(126, 124, 124, 0.663);

    /* background-image: url("/image/istockphoto-453554783-612x612.jpg") */
}

.details-header {
    width: fit-content;
    padding: 27px;
    align-items: center;
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    background-color: #ddd;
}

.details-header img {
    width: 150px;
    height: 200px;
    border-radius: 5px;
}

.details-content {
    flex: 1;
}

.details-content h1 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.details-content .rating {
    color: var(--secondary-color);
    font-weight: bold;
    margin-top: 0.5rem;
}

.details-section {
    margin-bottom: 2rem;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
}

.movie-grid-item {
    text-align: center;
    padding: 5px;
}

.movie-grid-item img {
    width: 100px;
    height: 150px;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    padding: 5px;
}
header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
    padding-bottom: 5px;
}
:root {
    --primary-color: #1F2937; /* Dark Blue */
    --secondary-color: #FFC107; /* Gold */
    --background-color: #F5F5F5; /* Light Gray */
    --text-primary: #212121; /* Black */
    --text-secondary: #757575; /* Medium Gray */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-primary);
    background-image: url("/image/pexels-tima-miroshnichenko-7991180.jpg");
    background-size: cover; 
    background-position: center;
}

